package v{{version}}

import (
	"go-boilerplate-api/internal/app/api/http/handlers"

	"github.com/gin-gonic/gin"
)

func set{{Domain}}Routes(router *gin.RouterGroup, controller *handlers.{{Domain}}Controller) {
	router.POST("", controller.CreateItem)
	router.GET("", controller.FindAll)
	router.GET(":itemId", controller.GetItem)
	router.PATCH(":itemId", controller.UpdateItem)
	router.DELETE(":itemId", controller.DeleteItem)
}
